<section class ="accomplishments">
    <div class="filters">
        <button (click)="filtertype=''">All</button>
        <button (click)="filtertype='Work Experience'">Work Experience</button>
        <button (click)="filtertype='certification'">Certification</button>
        <button (click)="filtertype='Education'">Education</button>
    </div>

    <div class="accomplishments-grid">
        <div class="card" *ngFor="let acc of accomplishments" [hidden]="filtertype && acc.type !== filtertype">
            <img [src]="acc.imageUrl" [alt]="acc.title">
            <h3>{{acc.title}}</h3>
            <p>{{acc.description}}</p>
            <p><strong>Type:</strong> {{acc.type}}</p>
            <a *ngIf="acc.link" href="{{acc.link}}">Learn More</a>
        </div>
    </div>
    
</section>
