<div class="game-container">
    <h2>Unscramble the words</h2>
    <p>Unscramble the word below to form a correct word</p>

    @if (isLoading) {
      <p>Loading word...</p>
    } @else {
      <p class="word">{{scrambledWord}}</p>
      @if (showHint) {
        <p class="hint">Hint: {{category | titlecase}}</p>
      }
      <input type="text" [(ngModel)]="userGuess" (keyup.enter)="checkWord()" placeholder="Enter your guess" class="guess-input">
      <div class="button-group">
          <button (click)="checkWord()">Check Word!</button>
          @if (!showHint) {
            <button class="hint-button" (click)="showHint = true">Reveal Hint</button>
          }
          <button class="reset-button" (click)="restart()">Restart</button>
      </div>
    }

    <p class="message">{{message}}</p>
</div>