/* You can add global styles to this file, and also import other style files */

.dark {
    background-color: black;
    color: white;

    h1 {
        color: orange;
    }

    h2 {
        color: orange;
    }

    .card {
        background: #333;
        color: white;
      }
    
      .filters button {
        background-color: #444;
        color: gold;
      }
}
body.dark {
  background: linear-gradient(135deg, #232526, #414345);
}

body {
  background: linear-gradient(135deg, #FDFCFB , #E2D1C3);
  overflow-x: hidden;
}

.active-link {
  background-color: #007bff;
  border-radius: 5px;
  padding: 5px 10px;
}

