/* You can add global styles to this file, and also import other style files */
.dark {
    background-color: black;
    color: white;

    h1 {
        color: orange;
    }

    .card {
        background: #333;
        color: white;
      }
    
      .filters button {
        background-color: #444;
        color: gold;
      }
}

